
/**
 * Buttons in IE were not taking up the full width of the left sidenav, despite
 * using a flex column layout. Works fine in Chrome and Firefox, of course. This
 * min-width attribute is to fix IE.
 */
.leftNavButton {
	min-width:270px;
}

.iconGrid md-grid-list {
  margin: 8px; }
.iconGrid .white {
  background: #ffffff; }
.iconGrid .gray {
  background: #f5f5f5; }
.iconGrid .green {
  background: #b9f6ca; }
.iconGrid .yellow {
  background: #ffff8d; }
.iconGrid .blue {
  background: #84ffff; }
.iconGrid .purple {
  background: #b388ff; }
.iconGrid .red {
  background: #ff8a80; }
.iconGrid md-grid-tile {
  transition: all 400ms ease-out 50ms; }


.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;        
	-moz-transition: height 1s;        
	-o-transition: height 1s;         
}
.collapsable.showMe {
	height: 100px;
}
.storeGrid {
	width: 275px;
	height: 250px;
}