
/**
 * Buttons in IE were not taking up the full width of the left sidenav, despite
 * using a flex column layout. Works fine in Chrome and Firefox, of course. This
 * min-width attribute is to fix IE.
 */
.leftNavButton {
	min-width:270px;
}


.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;        
	-moz-transition: height 1s;        
	-o-transition: height 1s;         
}
.collapsable.showMe {
	height: 100px;
}
.storeGrid {
	width: 275px;
	height: 250px;
}