
.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;        
	-moz-transition: height 1s;        
	-o-transition: height 1s;         
}
.collapsable.showMe {
	height: 100px;
}
.storeGrid {
	width: 275px;
	height: 250px;
}