
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Buttons in IE were not taking up the full width of the left sidenav, despite
 * using a flex column layout. Works fine in Chrome and Firefox, of course. This
 * min-width attribute is to fix IE.
 */
.leftNavButton {
	min-width:288px;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 5px #aaa );
            filter: drop-shadow( 2px 2px 5px #aaa ); /* Same syntax as box-shadow */
}

/**
 * Angular Material Override - button style on dialogs
 */
.md-dialog-container .md-button {
	color: #000;
}
/**
 * Angular Material Override - font color on active tabs
 */
md-tab-item.md-active  span {
	color: red;
}

/**
 * Angular Smart Table:  selected row
 */
tr.st-selected {
	background-color: #FFB84D 
}

/**
 * temp fix for md-menu showing a scrollbar
 * https://github.com/angular/material/issues/3266
 */
body {
    overflow-y: auto!important;
}

.iconGrid {
	padding: 0px;
	margin:0px;
}

/*
.iconGrid md-icon svg {
box-shadow: 10px 10px 30px rgba(250, 250, 250, 1);   
}
*/

.iconGrid md-grid-list {
	margin: 0px;
	overflow: hidden; /* little fix for Chrome so we don't get a scrollbar*/
}
.iconGrid .white {
    color: #ffffff;
}
.iconGrid .gray {
    color: #bbbbbb; /* #434343 */
}
.iconGrid .green {
    color: #b9f6ca;
}
.iconGrid .light-green {
    color: #85FFAD;
}
.iconGrid .yellow {
    color: #ffff8d;
}
.iconGrid .gold {
    color: #FFCC00;
}
.iconGrid .blue {
    color: #002184; /* #002184 #8AB8E6 */
}
.iconGrid .light-blue {
	color: #6699FF;
}
.iconGrid .purple {
    color: #b388ff;
}
.iconGrid .light-purple {
	color: #D3A4EA;
}
.iconGrid .red {
    color: #ff8a80;
}
.iconGrid md-grid-tile {
	transition: all 300ms ease-out 50ms;
}
.iconGrid .selectedTile {
    background-color: #FFEDED;
    border: 1px dashed red;  
}
.iconGrid .selectedFooter {
	background-color: #FF6666;
}
.iconGrid .selectedFooterText {
	color: #FFFFFF;
}

.iconGrid md-grid-tile md-icon {
	padding-bottom: 23px; /* was 20 */
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {	
	/* icons in IE were not centered correctly. This is an IE fix. */
	.iconGrid md-grid-tile md-icon {
		margin-right: 20%;
	}
}

.iconGrid md-grid-tile md-grid-tile-header {
	background: rgba(0, 0, 0, 0.0);
	color: #333333;
	height: 45px; /* was 36 */
}
.iconGrid md-grid-tile-header figcaption {
	width: 100%;
}
.iconGrid md-grid-tile-header figcaption h3 {
	margin: 0;
	width: 100%;
	color: red;
	font-weight: 100;
	font-size: 0.7em;
	text-align: center;
}

.iconGrid md-grid-tile md-grid-tile-footer {
	background: rgba(0, 0, 0, 0.0);
	color: #333333;
	height: 45px; /* was 36 */
}

.iconGrid md-grid-tile-footer figcaption {
	width: 100%;
}
.iconGrid md-grid-tile-footer figcaption h3 {
	margin: 0;
	width: 100%;
	color: #555555;
	font-weight: 100;
	font-size: 0.7em;
	text-align: center;
}

.storeListHeader {
	min-height: 20px;
}
.storeList {
	background: rgba(255, 255, 255, 0.0);
	padding: 0px;
	margin: 0px;
}
.storeList md-list-item  {
	font-size: 0.8em;
}
.storeList md-list-item  .md-list-item-text{
	padding: 0px;
}
.storeList button  {
	font-weight: 100;
	padding-left: 5px;
	padding-top: 0px;
	margin: 0px;
}

.directoryTitle-Toolbar {
	background-color: #ffffff;
}
.directoryTitle {
	font-size: 0.8em;
}

.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;        
	-moz-transition: height 1s;        
	-o-transition: height 1s;         
}
.collapsable.showMe {
	height: 100px;
}
.storeGrid {
	width: 275px;
	height: 250px;
}